@model StudentSystemMvc.Models.EntityFramework.Tbl_Notes
@{
    ViewBag.Title = "GetNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GetNote", "Notes", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Exam1)
        @Html.TextBoxFor(m => m.Exam1, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Exam2)
        @Html.TextBoxFor(m => m.Exam2, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Exam3)
        @Html.TextBoxFor(m => m.Exam3, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project)
        @Html.TextBoxFor(m => m.Project, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Avarage)
        @Html.TextBoxFor(m => m.Avarage, new { @Value=ViewBag.avarage, @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.NoteID)

    <div>
        <button type="submit" name="process" value="Calculate" class="btn btn-success">Calculate Avarage</button>
        <br /><br />
        <button type="submit" name="process" value="UpdateNote" class="btn btn-warning">UPDATE</button>
        
    </div>
}

