@model StudentSystemMvc.Models.EntityFramework.Tbl_Notes
@{
    ViewBag.Title = "GetNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "Notes", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Exam1)
        @Html.TextBoxFor(m => m.Exam1, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Exam2)
        @Html.TextBoxFor(m => m.Exam2, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Exam3)
        @Html.TextBoxFor(m => m.Exam3, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Project)
        @Html.TextBoxFor(m => m.Project, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Avarage)
        @Html.TextBoxFor(m => m.Avarage, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.NoteID)


    <div style="margin-top:20px">
        <button class="btn btn-primary">Calculate</button>
    </div>


    <div style="margin-top:20px">
        <button class="btn btn-warning">Update</button>
    </div>
}

